<div>People who signed the petition
        {{>errorM}}
    {{#rows}}
        <li>
            {{first}}
            {{last}}{{age}}
            <a href="/signers/{{city}}">{{city}}</a></li>
    {{/rows}}
</div>