<a href="/logout" id="logout">Log out</a><br>

<div id="signers"><h3 class="multicolor">  People who signed the petition</h3>
        {{>errorM}}
    {{#rows}}
        <li>
         {{#if url}}
            <a href="{{url}}">{{first}}
            {{last}}</a>
        {{else}}
            {{first}}
            {{last}}
        {{/if}}
            {{age}}
            <a href="/signers/{{city}}">{{city}}</a></li>
    {{/rows}}

    <button onclick="window.location.href='/thanks';">Go Back</button>
</div>