<div>People who signed the petition
        {{>errorM}}
    {{#rows}}
        <li>
         {{#if url}}
            <a href="{{url}}">{{first}}
            {{last}}</a>
        {{else}}
            {{first}}
            {{last}}
        {{/if}}
            {{age}}
            <a href="/signers/{{city}}">{{city}}</a></li>
    {{/rows}}
</div>